.sidebar {
    border: 1px solid white;
    border-radius: 5px;
    min-height: 70vh;
    width: 200px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}
